In [ ]:
#Create a python program to sort the given list of tuples based on integer value using a lambda function.
#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_list = sorted(l, key=lambda x: x[1])
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
#Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
#Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

l=[1, 2, 3, 4,5, 6, 7, 8, 9, 10]
#print(type(l))
list(map(lambda tuple(1), l))
result_tuple = tuple(map(str, tuple(l)))

print(type(tuple_names))
print(result_tuple)

SyntaxError: ignored

In [ ]:
#Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

from functools import reduce
l=range(1,25)
reduce(lambda x,y: x*y, l)

620448401733239439360000

In [ ]:
#Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
#[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0, l))

[6, 60, 90, 120]

In [ ]:
#Write a python program to find palindromes in the given list of strings using lambda and filter function.
#['python', 'php', 'aba', 'radar', 'level']

l=['python', 'php', 'aba', 'radar', 'aditi']
list(filter(lambda x: x== x[::-1], l))

['php', 'aba', 'radar']